@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body{
    background-color: rgb(173, 216, 230);
}

.container{
    width: 100%;
}

.header{
    display: flex;
    align-items: center;
    border-radius: 20px;
    flex-flow: row wrap;
    background-color: gray;
}

.logo{
    font-family: 'Permanent Marker', cursive;   
    padding-left: 3%;
    font-size: 41px;
    flex-grow: 1;
    text-align: center; 
    background-color: gray;
    border-radius: 20px;
}

.logo a {
    text-decoration: none;
    color: black;
}

.mainav {
    color: black;
    flex-grow: 30;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
    text-align: center;
}

.nav a {
    text-decoration: none;
    color: black;
    font-family: 'Permanent Marker', cursive;  
}

.nav a:hover {
    color: blue;
    transition: 0.7s;
}

.logo a:hover {
    color: blue;
    transition: 0.7s;
}

.content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.perfil_index{
    display: flex;
    width: 100%;
    justify-content: center;
}

.foto{
    width: 25%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 3%;
    min-height: 460px;
    min-width: 345px;
}

.perfil_qse{
    width: 23%;
    float: left;
    margin-top: 4%;
    margin-left: 8%;
}

.dados{
    text-align: center;
    padding: 21px;
    font-family: 'Permanent Marker', cursive;
    background-color: gray;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

footer{
    margin-top: 2%;
    display: flex;
    background-color: gray;
    justify-content: flex-end;
    border-radius: 20px;
}

.insta{
    width: 3%;
    padding: 1%;
}

.github{
    width: 3%;
    padding: 1%;
}

.linkedin{
    width: 3%;
    padding: 1%;
}

.logo-linkedin{
    border-radius: 25%;
}

.titulo_qse{
    padding-right: 2%;
    padding-left: 2%;
    float: right;
    margin-top: 7%;
    margin-right: 25%;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    background-color: gainsboro;
    border-radius: 20px;
}

.corpo_qse{
    width: 46%;
    float: right;
    margin-top: 3%;
    margin-right: 9%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: justify;
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    border-radius: 20px;
    background-color: gainsboro;
}

.titulo_hei{
    padding-right: 2%;
    padding-left: 2%;
    float: right;
    margin-top: 7%;
    margin-right: 21%;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    background-color: gainsboro;
    border-radius: 20px;
}

.corpo_hei{
    width: 46%;
    float: right;
    margin-top: 3%;
    margin-right: 9%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: justify;
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    border-radius: 20px;
    background-color: gainsboro;
}