@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
    background-color: rgb(173, 216, 230);
}

.container {
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
    border-radius: 20px;
    flex-flow: row wrap;
    background-color: gray;
}

.logo {
    font-family: 'Permanent Marker', cursive;
    padding-left: 3%;
    font-size: 41px;
    flex-grow: 1;
    text-align: center;
    background-color: gray;
    border-radius: 20px;
}

.logo a {
    text-decoration: none;
    color: black;
}

.mainav {
    color: black;
    flex-grow: 30;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
    text-align: center;
}

.nav a {
    text-decoration: none;
    color: black;
    font-family: 'Permanent Marker', cursive;
}

.nav a:hover {
    color: blue;
    transition: 0.7s;
}

.logo a:hover {
    color: blue;
    transition: 0.7s;
}

.content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.content-plus {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.perfil_index {
    display: flex;
    width: 100%;
    justify-content: center;
}

.foto {
    width: 25%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 3%;
    min-height: 460px;
    min-width: 345px;
}

.foto-grid {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 3%;
}

.perfil-grid {
    display: flex;
    flex-direction: column;
    margin: 1% 0% 0% 0%;
    align-items: flex-start;
    justify-content: center;
}

.dados {
    text-align: center;
    padding: 21px;
    font-family: 'Permanent Marker', cursive;
    background-color: gray;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.dados-grid {
    text-align: center;
    padding: 21px;
    font-family: 'Permanent Marker', cursive;
    background-color: gray;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5%;
    justify-content: center;
}

.titulo-grid {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    background-color: gray;
    color: white;
    border-radius: 20px;
    padding: 0% 2% 0% 2%;
}

.corpo-grid {
    margin: 2% 15% 0% 15%;
    padding: 2%;
    text-align: justify;
    font-family: 'Permanent Marker', cursive;
    color: white;
    font-size: 20px;
    border-radius: 20px;
    background-color: gray;
}

footer {
    margin-top: 2%;
    display: flex;
    background-color: gray;
    justify-content: flex-end;
    border-radius: 20px;
}

.insta {
    width: 3%;
    padding: 1%;
}

.github {
    width: 3%;
    padding: 1%;
}

.linkedin {
    width: 3%;
    padding: 1%;
}

.logo-linkedin {
    border-radius: 25%;
}