.header{
    text-align: center;
    background-color: lightslategray;
    width: 80%;
    margin-left: 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    font-size: 50px;
}

.mainav{
    background-color: blueviolet;
    width: 80%;
    margin-left: 10%;
}

.mainav li{
    display: inline;
    padding: 4%;
    margin-left: 4%;
}

.mainav li a{
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.mainleft{
    background-color: royalblue;
    width: 30%;
    
}

.footer{
    background-color: black;
}